nessus:
  url: https://nessus.server:8834
  accesskey: apiaccesskey
  secretkey: apisecretkey
enrichment:
  rpm2cve: path_to_rpm-to-cve.xml
scanapi:
  zone: myzonename
appkeys:
  user1:
    key: user1key
  user2:
    key: user2key
