nessus:
  url: https://nessus.server:8834
  accesskey: apiaccesskey
  secretkey: apisecretkey
enrichment:
  # Specify external data sources to use for event enrichment, remove any
  # options not desired to disable the functionality
  rpm2cve: path_to_rpm-to-cve.xml
  exemptplugins: path_to_exempt_plugins.txt
scanapi:
  zone: myzonename
appkeys:
  user1:
    key: user1key
  user2:
    key: user2key
